{% extends 'admin/master.html' %}

{% block body %}
{{ super() }}

<div class="row-fluid">

  {% if current_user.is_authenticated %}

      <h1>Admin page</h1>

      {% if current_user.role.name != "Admin" %}
        <h2>You are not supposed to be here. Go away!</h2>
      {% endif %}

  {% else %}

  <div class="col-md-4 col-md-offset-4">
      <form method="POST">
        {{ form.hidden_tag() if form.hidden_tag }}
        <legend class="text-center">Log In</legend>

            <div class="form-group {% if form.email.errors %} has-error {% endif %}">
              {{ form.email.label}}
              {% if form.email.errors %}
                {{ form.email(placeholder="Email", class="form-control is-invalid")}}
              {% else %}
                {{ form.email(placeholder="Email", class="form-control")}}
              {% endif %}

              {% for error in form.email.errors %}
                <div>{{ error }}</div>
              {% endfor %}

            </div>

            <div class="form-group {% if form.password.errors %} has-error {% endif %}">
              {{ form.password.label}}
              {% if form.password.errors %}
                {{ form.password(placeholder="Password", class="form-control is-invalid")}}
              {% else %}
                {{ form.password(placeholder="Password", class="form-control")}}
              {% endif %}
              {% for error in form.password.errors %}
                <div>{{ error }}</div>
              {% endfor %}
            </div>

            <button type="submit" class="btn btn-primary btn-block">Log In</button>

      </form>

  </div>

  {% endif %}

</div>

{% endblock body %}
