<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1,width=device-width">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">

  <title>MapApp</title>

  <link rel="stylesheet" href="/static/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/app.css">
  <link rel="stylesheet" href="/static/css/leaflet.css"/>

  <script src="/static/js/leaflet.js"></script>

  <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/static/js/bootstrap.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<body>

  <div class="container-fluid" id="app">
    <div class="row">
      <div class="col-xs-12 col-md-4" id="sidebar">
         <form class="form-horizontal">
        <h4>Search route:</h4>

        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" id="origin" placeholder="From" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <input type="text" class="form-control" id="destination" placeholder="To" />
          </div>
        </div>

        <div class="form-group">
          <div class="col-xs-12">
            <button class="btn btn-success btn-block" type="button"
              onClick="calculateAndDisplayRoute()">Go</button>
          </div>
        </div>

      </form>

      <div id="result">
        <h3>result</h3>

      </div>

      </div>
      <div class="col-xs-12 col-md-8" id='map'></div>

    </div>
  </div>

  <script src="/static/js/map.js"></script>

  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7ZXOS5Bpp8MHRH98KJ6NPP9W-x0S3Zrk&callback=initMap&libraries=places"></script>

  <script >

    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 13,
        center: {lat: 49.84104, lng: 24.03164}
      });

    autocompleteFrom = new google.maps.places.Autocomplete(document.getElementById("origin"));
    autocompleteTo = new google.maps.places.Autocomplete(document.getElementById("destination"));

    autocompleteFrom.bindTo('bounds', map);
    autocompleteTo.bindTo('bounds', map);

    autocompleteFrom.addListener('place_changed', function(){
      origin = autocompleteFrom.getPlace();

      console.log(origin)

      if (origin.geometry.viewport) {
              map.fitBounds(origin.geometry.viewport);
            } else {
              map.setCenter(origin.geometry.location);
              map.setZoom(17);  // Why 17? Because it looks good.
            }

            var marker = new google.maps.Marker({
              map: map,
            });

            marker.setPosition(origin.geometry.location);
            marker.setVisible(true);

    });

    autocompleteTo.addListener('place_changed', function(){
      origin = autocompleteTo.getPlace();

      console.log(origin)

      if (origin.geometry.viewport) {
              map.fitBounds(origin.geometry.viewport);
            } else {
              map.setCenter(origin.geometry.location);
              map.setZoom(17);  // Why 17? Because it looks good.
            }

            var marker = new google.maps.Marker({
              map: map,
            });

            marker.setPosition(origin.geometry.location);
            marker.setVisible(true);

    });

    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;

    directionsDisplay.setMap(map);

    function calculateAndDisplayRoute() {
      directionsService.route({
        origin: document.getElementById('origin').value,
        destination: document.getElementById('destination').value,
        travelMode: 'DRIVING',
        provideRouteAlternatives: true
      }, function(response, status) {
        if (status === 'OK') {

          console.log(response)

          for (var i = 0; i < response.routes.length; i++) {

                // infoDiv = document.getElementById('result')
                new google.maps.DirectionsRenderer({
                    map: map,
                    directions: response,
                    routeIndex: i,
                    // panel: infoDiv
                });

                $('#result').append('<h3>' + response.routes[i].summary + '<h3/>');

            }

        } else {
          window.alert('Directions request failed due to ' + status);
        }
      });}


  </script>

</body>
</html>
